.idea
__pycache__
*.json
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
flutter-frontend/*.iml
flutter-frontend/*.ipr
flutter-frontend/*.iws
flutter-frontend/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
flutter-frontend/**/doc/api/
flutter-frontend/**/ios/Flutter/.last_build_id
flutter-frontend/.dart_tool/
flutter-frontend/.flutter-plugins
flutter-frontend/.flutter-plugins-dependencies
flutter-frontend/.packages
flutter-frontend/.pub-cache/
flutter-frontend/.pub/
flutter-frontend/build/

# Symbolication related
flutter-frontend/app.*.symbols

# Obfuscation related
flutter-frontend/app.*.map.json

# Android Studio will place build artifacts here
flutter-frontend/android/app/debug
flutter-frontend/android/app/profile
flutter-frontend/android/app/relase

